body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
     
  }
  h2 {
      
      text-transform: uppercase;
      font-weight: 600;
      margin-bottom: 30px;
  }
  h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      margin-bottom: 30px;
  }  
  .jumbotron {
      background-image: url("../images/jumbotron_image.png");
      padding: 100px 25px;
      font-family: Montserrat, sans-serif;
      height: 350px;
  }
  .jumbotron div{
    margin: auto;
    margin-top: 60px;
    width: 360px;
    height: 60px;
    background-color:#4682B4;
    

  }

  .jumbotron div h2{
     color: #fff;
     padding: 20px 1px 0 1px;
     margin: auto;
     font-size: 24px;

  }

  div #about{
    background-color: #382266;
    color: #fff;
    width: 100%;
    height: 500px;
    text-align: center;
    font-weight: 800;

  }

  div #about img {
    border: 1px solid #4B0082;
    float: right;
    margin: -10 0 10px 5px;
    margin-left: 10px;
    width: 200px;
    height: 200px;
    border-radius: 4px;

    
}

div .edu{
  background-color: #8d94ba;
  color: #fff;
  height: 250px;
  padding:5px 5px;
}

div .pro{
  height: 350px;
  padding:5px 5px;
}

#about img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

  #about2{
    border: 2px solid #a1a1a1;
    padding: 20px 40px; 
    margin: 40px 90px 80px 120px;
    background: #ff789e;
    width: 80%;
    height: 350px;
    border-radius: 25px;
    overflow: auto;
  }
  .container-fluid {
      padding: 60px 50px;
  }

 div #portfolio h2{
    color: #4682B4;
    font-size: 30px;
  }

  div .exp{
    overflow: auto;
  }

  .bg-grey {
      background-color: #f6f6f6;
  }
  .logo-small {
      color: #f4511e;
      font-size: 50px;
  }
  .logo {
      color: #f4511e;
      font-size: 200px;
  }
  .thumbnail {
      padding: 0 0 15px 0;
      border: none;
      border-radius: 0;
  }
  .thumbnail img {
      width: 100%;
      height: 100%;
      margin-bottom: 10px;
  }


  #contact{
     background: #ff789e;
     color: #fff;
     font-weight: 600;
     text-align: center;

  }

  .contact{
   margin-left: 320px;
   text-align: center;
  }
  .carousel-control.right, .carousel-control.left {
      background-image: none;
      color: #f4511e;
  }
  .carousel-indicators li {
      border-color: #f4511e;
  }
  .carousel-indicators li.active {
      background-color: #f4511e;
  }
  /*.item h4 {
      font-size: 19px;
      line-height: 1.375em;
      font-weight: 400;
      font-style: italic;
      margin: 70px 0;
  }
  .item span {
      font-style: normal;
  }*/
  .panel {
      border: 1px solid #bf7fbf; 
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
  .panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
      border: 1px solid #8d94ba;
      background-color: #fff !important;
      color: #8d94ba;
  }
  .panel-heading {
      color: #fff !important;
      background-color: #8d94ba !important;
      padding: 25px;
      border-bottom: 1px solid transparent;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
  }
  .panel-footer {
      background-color: white !important;
  }
  .panel-footer h3 {
      font-size: 32px;
  }
  .panel-footer h4 {
      color: #aaa;
      font-size: 14px;
  }
  .panel-footer .btn {
      margin: 15px 0;
      background-color: #8d94ba;
      color: #fff;
  }
  .navbar {
      margin-bottom: 0;
      background-color: #382266;
      z-index: 9999;
      border: 0;
      font-size: 12px !important;
      line-height: 1.42857143 !important;
      letter-spacing: 4px;
      border-radius: 0;
      font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
      color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
      color: #f4511e !important;
      background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
      border-color: transparent;
      color: #fff !important;
  }
  footer .glyphicon {
      font-size: 20px;
      margin-bottom: 20px;
      color: #f4511e;

  }
  footer{
    background-color: #382266;
    color: #fff;
  }
  .slideanim {visibility:hidden;}
  .slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
        width: 100%;
        margin-bottom: 35px;
    }
  }
  @media screen and (max-width: 480px) {
    .logo {
        font-size: 150px;
    }
  }